/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

/* Global Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Content */
html {
    font-size: calc(60% + 0.8vmin);
}

body {
    background: black;
    color: white;
    font-family: 'Unbounded', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.moves_left {
    margin: 3rem;
}

a:link,
a:visited {
    color: white;
    cursor: pointer;
}

button {
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.start_button {
    margin: 1.25rem;
}

.start_button button {
    background-color: rgb(235, 50, 44);
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

.start_button button:hover {
    background-color: black;
    color: rgb(235, 50, 44);
    border: 2px solid rgb(235, 50, 44);
    font-weight: bold;
}

.game_rules {
    background-color: whitesmoke;
    color: black;
}

.game_rules:hover {
    background-color: rgb(235, 50, 44);
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.content {
    display: flex;
    justify-content: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup,
.popup_result {
    color: black;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 3rem;
    z-index: 2;
    text-align: center;
}

.popup p {
    margin: 0;
}

.popup button {
    margin-top: 0.75rem;
    cursor: pointer;
}

.move_icon {
    height: 3rem;
}

.move_button {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 3.75rem;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 0.625rem;
    cursor: pointer;
}

.move_button:hover {
    box-shadow: 1px 1px 20px 10px whitesmoke;
}

.result {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 3.125rem;
}

.score {
    margin-top: 3.75rem;
}

.reset_score_button {
    background-color: white;
    color: black;
    border: none;
    font-size: 1.25rem;
    padding: 8px 15px;
    cursor: pointer;
}

.hide {
    display: none;
}

/* Responsive Styling */
@media only screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .popup {
        color: black;
        display: none;
        position: fixed;
        height: 80%;
        width: 80%;
        max-height: 90vh;
        max-width: 90vw;
        background-color: whitesmoke;
        padding: 1.25rem;
        z-index: 2;
        text-align: center;
        overflow: scroll;
    }

}